<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAP_Filler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DAP_Filler.Properties.Settings>
            <setting name="isMale" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="learnMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="realName" serializeAs="String">
                <value />
            </setting>
            <setting name="genericName" serializeAs="String">
                <value>&lt;Name&gt;</value>
            </setting>
            <setting name="genericPatientName" serializeAs="String">
                <value>&lt;Patient&gt;</value>
            </setting>
            <setting name="genericPeerName" serializeAs="String">
                <value>&lt;Peer&gt;</value>
            </setting>
            <setting name="tabData" serializeAs="String">
                <value />
            </setting>
            <setting name="entryBoxText_D" serializeAs="String">
                <value />
            </setting>
            <setting name="entryBoxText_A" serializeAs="String">
                <value />
            </setting>
            <setting name="entryBoxText_P" serializeAs="String">
                <value />
            </setting>
            <setting name="tabAssessment" serializeAs="String">
                <value />
            </setting>
            <setting name="tabPlan" serializeAs="String">
                <value />
            </setting>
            <setting name="autoArrows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoSort_D" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoSort_A" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoSort_P" serializeAs="String">
                <value>0</value>
            </setting>
        </DAP_Filler.Properties.Settings>
    </userSettings>
</configuration>